@import "color";

.ball{
    position: absolute;
    border-radius: 50%;
}
.ball:nth-child(2){
    left:0;
    height: 20vw;
    width: 20vw;
    margin-left:-15vw;
    margin-top:-10vw;
    background: $third;
}
.ball:nth-child(4){
    right:0;
    height: 30vw;
    width: 30vw;
    margin-right:-20vw;
    margin-top:-15vw;
    background: $fourth;
}
.ball:nth-child(6){
    left:0;
    height: 40vw;
    width: 40vw;
    margin-left:-30vw;
    margin-top:-20vw;
    background: $fifth;
}