@import "color";

.description{
    padding: 10vh 0;
    padding-left: 20vw;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;

    #text{
        width: 40vw;

        h1{
            display: inline-block;
            padding: 10px 20px;
            background: $first;
            font-size: 2em;
            box-shadow: 10px 10px 50px rgba(0,0,0,.5);
        }

        h2{
            display: inline-block;
            margin-top: 30px;
            padding: 10px 20px;
            font-weight:600;
        }   
    }
    img{
        height: 300px;
        margin-top: -50px;
    }
}