.description {
  padding: 10vh 0;
  padding-left: 20vw;
  display: flex;
  flex-direction: row;
  justify-content: flex-start; }
  .description #text {
    width: 40vw; }
    .description #text h1 {
      display: inline-block;
      padding: 10px 20px;
      background: #C5C6C8;
      font-size: 2em;
      box-shadow: 10px 10px 50px rgba(0, 0, 0, 0.5); }
    .description #text h2 {
      display: inline-block;
      margin-top: 30px;
      padding: 10px 20px;
      font-weight: 600; }
  .description img {
    height: 300px;
    margin-top: -50px; }
