.download {
  padding: 10vh 0;
  padding-left: 20vw; }
  .download #text {
    width: 50vw; }
    .download #text h1 {
      display: inline-block;
      padding: 10px 20px;
      background: #C5C6C8;
      font-size: 2em;
      box-shadow: 10px 10px 50px rgba(0, 0, 0, 0.5); }
    .download #text h2 {
      margin-top: 30px;
      padding: 10px 20px;
      font-weight: 600; }
