.features {
  border-top: 10px solid #f2f3eb;
  padding: 10vh 20vw;
  display: flex;
  flex-direction: column;
  justify-content: flex-start; }
  .features .feature {
    margin: 5vh 0;
    width: 300px; }
    .features .feature h1 {
      display: inline-block;
      padding: 10px 20px;
      background: #C5C6C8;
      font-size: 2em;
      box-shadow: 10px 10px 50px rgba(0, 0, 0, 0.5);
      font-weight: 400; }
      .features .feature h1 .number {
        font-weight: 800; }
    .features .feature h2 {
      margin-top: 30px;
      font-size: 1.5em;
      font-weight: 400; }
  .features .feature:nth-child(odd) {
    margin-left: auto;
    text-align: right; }
  .features .feature:nth-child(even) {
    text-align: left;
    margin-right: auto; }
  .features .feature::after {
    border-radius: 50%;
    content: "";
    display: block;
    position: relative;
    height: 50px;
    width: 50px; }
  .features .feature:nth-child(1)::after {
    background: #6cccd0;
    box-shadow: -10px 10px 50px rgba(0, 0, 0, 0.5);
    margin-bottom: -50px;
    margin-left: -50px; }
  .features .feature:nth-child(2)::after {
    background: #2499ad;
    border-radius: 50%;
    content: "";
    display: block;
    position: relative;
    height: 50px;
    width: 50px;
    box-shadow: 10px 10px 50px rgba(0, 0, 0, 0.5);
    margin-bottom: -50px;
    margin-left: 350px; }
  .features .feature:nth-child(3)::after {
    background: #38353e;
    border-radius: 50%;
    content: "";
    display: block;
    position: relative;
    height: 50px;
    width: 50px;
    box-shadow: -10px 10px 50px rgba(0, 0, 0, 0.5);
    margin-bottom: -50px;
    margin-left: -50px; }
