@import "color";

.features{
    border-top: 10px solid $second;
    padding: 10vh 20vw;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    .feature{
        margin: 5vh 0;
        width: 300px;

        h1{
            display: inline-block;
            padding: 10px 20px;
            background: $first;
            font-size: 2em;
            box-shadow: 10px 10px 50px rgba(0,0,0,.5);
            font-weight: 400;

            .number{
                font-weight: 800;
            }
        }
        h2{
            margin-top: 30px;
            font-size: 1.5em;
            font-weight: 400;
        }
    }
    .feature:nth-child(odd){
        margin-left: auto;
        text-align: right;
    }
    .feature:nth-child(even){
        text-align: left;
        margin-right: auto;
    }

    .feature::after{
        border-radius: 50%;
        content: "";
        display: block;
        position: relative;
        height: 50px;
        width: 50px;
    }

    .feature:nth-child(1)::after{
        background: $third;
        box-shadow: -10px 10px 50px rgba(0,0,0,.5);
        margin-bottom: -50px;
        margin-left: -50px;
    }

    .feature:nth-child(2)::after{
        background: $fourth;
        border-radius: 50%;
        content: "";
        display: block;
        position: relative;
        height: 50px;
        width: 50px;
        box-shadow: 10px 10px 50px rgba(0,0,0,.5);
        margin-bottom: -50px;
        margin-left: 350px;
    }

    .feature:nth-child(3)::after{
        background: $fifth;
        border-radius: 50%;
        content: "";
        display: block;
        position: relative;
        height: 50px;
        width: 50px;
        box-shadow: -10px 10px 50px rgba(0,0,0,.5);
        margin-bottom: -50px;
        margin-left: -50px;
    }
}