@import "color";

@keyframes wipe {
    0% {
        clip-path: circle(0% at 0 100%);
    }
    100% {
        clip-path: circle(141.4% at 0 100%);
    }
}

.landing{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 20vh 0;


    #logo{
        margin: 0 30px;
        height: 200px;
        clip-path: circle(141.4% at 0 100%);
        animation-name: wipe;
        animation-duration: 3s;
    }
    .text{
        margin: 0 30px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        animation-name: wipe;
        animation-duration: 3s;

        h1{
            display: block;
            margin: auto 0;
            font-size: 3.5em;
            text-shadow: 2px 2px 4px rgba(0,0,0,.3);
            color: $fifth;
        }
    }
}