@import "color";
@import "font";

*{
    transition: ease 0.3s all;
}
body{
    font-family: 'Muli', sans-serif;
    margin: 0;
    background: $second;
    max-width: 100vw;
    overflow-x: hidden;
}
p, h1, h2, h3, h4{
    margin: 0;
}